@import '../../../theme/web/custom-variables';

.checkable {
    thead {
        tr th:first-child div:last-child {
            text-align: left;
            padding-left: 23px;
        }
    }

    tbody {
        tr td:first-child {
            text-align: left;
        }
        tr td:first-child div::first-letter {
            padding-left: 0px;
            color: gray;
        }

        tr.selected td:first-child div::before{
            content:"☑  ";
        }
        
        tr:not(.selected) td:first-child div::before{
            content:"☐  ";
        }
    }   
}

.with-controlbar {
    position: absolute;
    right: 0px;
}   

.custom-grid {
    .mx-grid-toolbar {
        padding-right: 210px;
    }

    
}
